<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    
    http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	"
	>

	<mvc:resources mapping="/images/**" location="/resources/images/" />

	<!-- Dependency Injection with annotations -->
	<!-- <context:component-scan base-package="br.com.formento.garagem.ioc" />
	<context:component-scan base-package="br.com.formento.garagem.dao" />
	<context:component-scan base-package="br.com.formento.garagem.service" />
	<context:component-scan base-package="br.com.formento.garagem.config" /> -->
	<context:component-scan base-package="br.com.formento.garagem.*" />
	
	<!-- Controller -->
	<!-- habilitar o uso de anotações do Spring MVC e configurar pacote base 
		da aplicação web para o Spring achar as classes -->
	<mvc:annotation-driven />
	<!-- <context:component-scan base-package="br.com.formento.garagem.controller" /> -->

	<!-- Para acessar arquivos externos, como os da pasta resource -->
	<mvc:default-servlet-handler />

	<!-- informar ao Spring o local onde ficam os arquivos JSP. O Spring MVC 
		oferece uma classe especial que recebe o nome da pasta dos JSPs e a extensão 
		dos arquivos. Criar todos os JSPs na pasta -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- devemos declarar um DataSource no XML do Spring -->
	<bean id="mysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/garagem" />
		<property name="username" value="garagem" />
		<property name="password" value="garagem" />
	</bean>

	<!-- gerenciamento de jpa pelo spring -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<!-- gerenciamento da transação pelo spring -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- avisar que o controle de transações será feito via anotação, parecido 
		com a forma de habilitar o uso de anotações para o Spring MVC. -->
	<tx:annotation-driven />
	
	<mvc:interceptors>
		<bean
			class="br.com.formento.garagem.filter.AutorizadorInterceptor" />
	</mvc:interceptors>

	<security:global-method-security secured-annotations="enabled" />
	
	<security:http auto-config="true" >
		<security:intercept-url pattern="/views/**" />
		<security:intercept-url pattern="/views/_template/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/views/_welcome/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/views/*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<security:form-login 
			login-page="/loginPage"
			login-processing-url="/loginPage"
			default-target-url="/garagemLista" 
			authentication-failure-url="/loginPage?error"
			/>
		<security:http-basic />
    	<security:logout logout-url="/logout" logout-success-url="/loginPage?logout" />
    	<security:csrf/>
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="alpha" password="pass1"
					authorities="ROLE_ADMIN" />
			</security:user-service>
			
			<!-- <security:jdbc-user-service data-source-ref="dataSource" /> -->
			<!-- <authentication-provider user-service-ref="userDetailsService" /> -->
			
		</security:authentication-provider>
	</security:authentication-manager>

</beans>